@{
    ViewBag.Title = "About";
}

<div class="page-content">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>@ViewBag.Message</h2>
    </hgroup>

    <article>
        <img src="~/Images/About/Robert_Marsh_Picture.jpg" align="left" class="image-left"/>
        <p>My name's Rob, I'm an undergraduate studying Computer Science at the University of Hull.
           I'd like to think I'm more than an average computer geek with interests spanning from music to sports. 
           That being said, my main focus is very much on computing and technology and I hope to someday put my studies to use and become a software engineer.</p>

        <p>I chose this path due to my passion for video games. 
           The experiences I've had through playing these games have shaped my character as well as shaped my life (for better and worse!). 
           It's because of this that I would like to make games that have an impact on people and stand out as the pinnacle of the medium. 
           I've always argued that the immersive nature of games means that they will forever be growing more popular and I want to be a part of that.</p>

        <p>My love for music came from an early age and exponentially grew when I started to create my own music. 
           I was fortunate enough to find a friend who thought on the same musical wavelength as myself and we wrote metal music throughout most of my teenage years. 
           More recently I have pursued electronic music, trying to find a mixture of trance and ambience to create my own unique sound. 
           I still have a lot to learn but I'm very pleased with the direction my music is heading.</p>

        <p>I'm also a football enthusiast and Liverpool FC fan. 
           Moving to Hull has made me slightly more conflicted as to who I should support but I love watching football and make sure to watch games whenever possible. 
           I have more recently become a member of the university ultimate Frisbee team and am very much enjoying the sport.
        This website is a reflection of my personality, hobbies and passions.</p>
    </article>
</div>
